﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Arche.Master" AutoEventWireup="true" CodeBehind="DemoDates.aspx.cs" Inherits="AFCEPF.AI107.Boutique.Front.DemoDates" %>
<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="principal" runat="server">

    <asp:Calendar ID="calDebut" runat="server"></asp:Calendar>

    <asp:TextBox ID="txtDebut" runat="server"></asp:TextBox>
</asp:Content>
