﻿body {
    margin:0;
    background-color: #b2b2b2;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.boite
{
    padding:10px;
    margin:10px;
    border:2px solid green;
    border-radius : 5px;
}

.message {
    padding: 10px 30px;
    box-shadow: 36px 35px 25px -8px rgba(125,125,125,1);
    border-radius:5px;
}

.error{
    color:red;
    background-color:salmon;
}

.success{
    color:green;
    background-color:lightgreen;
}

#mainContent {

    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

    #mainContent > header,
    #mainContent > nav,
    #mainContent > section,
    #mainContent > footer {
        background-color:antiquewhite;
        margin:5px;
        padding:10px;
        border-radius:5px;
    }


    #mainContent > header {
        flex-basis: 20%;
    }

    #mainContent > nav {
        flex-basis: 10%;
    }

    #mainContent > section {
        flex-grow:1;
    }
    
    #mainContent > footer{
        flex-basis: 15%;
    }
